{
  "presets": ["react-app"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ".",
        "alias": {
          "@Assets": "./src/assets",
          "@Components": "./src/components",
          "@Containers": "./src/containers",
          "@Router": "./src/router",
          "@Services": "./src/services",
          "@Styles": "./src/styles",
          "@Store": "./src/store",
          "@Utils": "./src/utils"
        }
      }
    ]
  ]
}
